<section id="section-about" class="clearfix about">

    <div class="heading">
        <div class="container center">
            <h2 class="heading__title">Meet the Doctor</h2>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <img src="/assets/drhay-bio.jpg" alt="{{ mainDoctor }} - Cosmetic, Implant, Sedation, and General Dentistry">
                </div>
                <div class="col-sm-7">
                    <h3 class="main__name">William E. Hay, <span class="main__name--title">DMD</span></h3>
                    <p class="main__copy">Dr. William Hay is a unique small-town dentist. His focus on postdoctoral
                        clinical dentistry enables him to provide some of the latest advances in dental
                        technology—things like IV and conscious sedation, placement and restoration of dental implants,
                        cosmetic dentistry, laser dentistry, TMJ treatment, and one-day crowns. Best of all, Dr. Hay
                        combines clinical dentistry with small-town care and communication that will make you and your
                        family feel right at home.</p>
                    <p class="main__copy hidden-sm">A Kentucky native, Dr. Hay got his medical degree from the University of
                        Kentucky College of Dentistry, and is an Alumnus of the world-renowned Las Vegas Institute for
                        dental studies.</p>
                    <p class="main__copy hidden-sm">When not in the office, Dr. Hay enjoys spending time with his wife and their
                        two children. His hobbies include hunting, fishing, hiking, boating, and AKC hunt test
                        competitions with his dogs.</p>
                </div>
            </div>
        </div>
    </div>


    {# these are the icons on bottom #}
    {% include 'molecules/associations__carousel.twig' %}

</section>

