<section id="section-services">

    {#<div class="heading">#}
        {#<div class="container">#}
            {#<h2 class="heading__title">Our Services</h2>#}
            {#<h4 class="heading__byline">Learn more about our treatments and services.</h4>#}
            {#<p class="heading__copy">By actively preventing disease and decay through regular home care, professional#}
                {#dental cleanings and regular exams, we’ll partner with you to maintain your healthy, beautiful smile.#}
                {#Prevention is always better than treatment, so if it’s been a while since you’ve seen a dentist, please#}
                {#give us a call&nbsp;or&nbsp;<a href="#" data-target="#requestAppointmentForm" data-toggle="modal">click&nbsp;to&nbsp;request&nbsp;an&nbsp;appointment.</a></p>#}
        {#</div>#}
    {#</div>#}

    {% include 'molecules/services__carousel.twig' %}

    <div class="services-part-two">
        <div class="heading">
            <div class="container">
                <h2 class="heading__title">Our Services</h2>
                <h5 class="heading__copy">Learn more about our treatments and services.</h5>
            </div>
        </div>

        <div class="fluid-container services-grid">
            <div class="row services-grid__flex--one">
                <div class="col-sm-6">
                    <div class="service-card">
                        <img data-target="#modal--family" data-toggle="modal" src="/assets/services/family-care.jpg" alt="Family Care Dental Service">
                        <div class="service-card--family">
                            <h5 data-target="#modal--family" data-toggle="modal" class="service-card__title allow-orphan">Family Care</h5>
                            <a href="#" data-target="#modal--family" data-toggle="modal" class="service-card__learn-more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 services-grid__flex--two">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="service-card service-card--small">
                                <img src="/assets/services/dentures.jpg" alt="Cosmetic Dentures" data-target="#modal--dentures" data-toggle="modal">
                                <h5 data-target="#modal--dentures" data-toggle="modal" class="service-card__title allow-orphan">Cosmetic Dentures</h5>
                                <a href="#" data-target="#modal--dentures" data-toggle="modal" class="service-card__learn-more">Learn More</a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="service-card service-card--small">
                                <img src="/assets/services/apnea.jpg" alt="Sleap Apnea" data-target="#modal--apnea" data-toggle="modal">
                                <h5 data-target="#modal--apnea" data-toggle="modal" class="service-card__title">Sleep Apnea</h5>
                                <a href="#" data-target="#modal--apnea" data-toggle="modal" class="service-card__learn-more">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="service-card service-card--small">
                                <img src="/assets/services/crowns.jpg" alt="Crowns and Bridges" data-target="#modal--crowns" data-toggle="modal">
                                <h5 data-target="#modal--crowns" data-toggle="modal" class="service-card__title">Crowns and Bridges</h5>
                                <a href="#" data-target="#modal--crowns" data-toggle="modal" class="service-card__learn-more">Learn More</a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="service-card service-card--small">
                                <img src="/assets/services/oral-systemic.jpg" alt="Oral Systemic Connection" data-target="#modal--oral" data-toggle="modal">
                                <h5 data-target="#modal--oral" data-toggle="modal" class="service-card__title allow-orphan">Oral Systemic Connection</h5>
                                <a href="#" data-target="#modal--oral" data-toggle="modal" class="service-card__learn-more">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'molecules/services__modals.twig' %}

</section>