.section-care-credit-slab {
  background-color: #fff;
  padding: 20px 0;

  .text {
    color: #345a75;
    font-family: $ff-open;
    margin-bottom: 0;
    // letter-spacing: 1px;

    @include font-size(24px, 23px, 23px, 19px, 16px);
  }

  .care-logo {
    max-width: 200px !important;
    padding-top: 20px;
  }

  @media (min-width: 768px) {
    .col-sm-6:first-child {
      text-align: right;
    }

    .col-sm-6:last-child {
      text-align: left;
    }
  }
}
