.section-care-credit-slab {
  background-color: #fff;
  padding: 20px 0;

  .text {
    color: #345a75;
    font-family: $ff-open;
    margin-bottom: 0;
    padding-right: 25px;
    // letter-spacing: 1px;

    @include font-size(24px, 23px, 23px, 19px, 16px);
  }

  .care-logo {
    max-width: 200px !important;
    padding-top: 20px;
  }
}
