a.btn,
button.btn {
  font-family: $ff-lato;
  font-weight: 700 !important;
  background-color: #ff8700;
  color: #fff;
  border-radius: 6px;
  border: solid 2px #fff;
  padding: 12px 50px;
  text-transform: uppercase;
  //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.36);

  @include font-size(16px, 16px, 16px, 15px, 15px);

  &:hover,
  &:focus {
    background-color: lighten(#ff8700, 10%);
    color: #fff;
    //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.46);
    transition: all 0.3s ease;
    text-decoration: none;
  }

  &.btn--style-two {
    background: none;
    background-color: #ff8700;
    border: solid 2px #fff;
    font-family: $ff-lato;
    //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.36);

    @include font-size(16px, 16px, 15px, 14px, 13px);

    &:hover,
    &:focus {
      background-color: darken(#ff8700, 15%);
      //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.d46);
    }
  }

  &.btn--style-three {
    background-image: none;
    background-color: #6584ae;
    color: #fff;
    border-color: #fff;
    //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.36);

    @include font-size(16px, 16px, 14px, 14px, 14px);

    &:hover,
    &:focus {
      background-color: lighten(#6584ae, 10%);
      //box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.d46);
    }
  }

  &.shadowed {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  &.form-btn {
    width: 100%;
  }
}
