/// Call to Action Two to One Layout
.cta {
  position: relative;
  background-color: #0A2F5B;
  width: 100%;
  height: 0;
  z-index: 1000;

  .wrapper  {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-50%);

    .container {
      background-color: #0a2f5b;
      padding: 30px 0 20px;
    }
  }

  &.shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  }

  &--background-two {
    background-color: #e4f3e9;
  }

  &--no-border {
    border: none;
  }

  .flex-wrapper {
    padding: 0 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;

      .vertical-break {
        width: 1px;
        height: 65px;
        background-color: #fff;
      }
    }

    .cta__new {
      order: -2;
    }

    .cta__btn {
      order: 2;
    }

    &__item {
      padding: 10px 0;
      width: 100%;

      @media screen and (min-width: 768px) {
        padding: 0 45px;
        width: 49%;

        &.cta__btn,
        &.cta__new {
          order: 0;
        }

        &:first-child {
          text-align: right;
        }

        &:last-child {
          text-align: left;
        }
      }
    }
  }

  &__new {
    &-text {
      font-family: $ff-open;
      color: #cde9ef;
      font-weight: 400;
      margin-bottom: 5px;
      line-height: 1;

      @include font-size(24px, 22px, 20px, 18px, 16px);
    }

    &-number {
      color: #fff;
      font-family: $ff-lato;
      font-weight: 900;
      line-height: 1;
      margin-bottom: 0;
      padding: 0 0 10px;
      font-size: 36px;

      a {
        @include link-color(#fff);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  //&__btn {
  //
  //}

  &__existing-patient {
    color: #fff;
    line-height: 1.7;
    font-size: 20px;
    margin-bottom: 0;
    letter-spacing: 0.9;

    @include font-size(20px, 20px, 16px, 14px, 14px);

    @media (max-width: 992px) {
      text-align: center;
    }

    .phone-number--existing {
      @include link-color(#fff);
      @include font-size(20px, 20px, 20px, 18px, 18px);

      &:hover {
        text-decoration: none;
      }
    }
  }
}
