.location-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //background: $c-white;
  //margin: 30px 0;
  // padding-top: 30px;
  //padding-bottom: 30px;

  @media (max-width: $width-md) {
    margin-bottom: 5px;
    margin-top: 0;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 0;
    padding-right: 0;
  }

  //&__office-image {
  //  padding-left: 20px;
  //  padding-right: 20px;
  //  width: 100%;
  //  max-width: 550px;
  //  margin-left: auto;
  //  margin-right: auto;
  //  @media (max-width: 991px) {
  //    order: -1;
  //  }
  //}

  &__logo {
    &--wrapper {
      //background-color: #323437;
      text-align: center;
      padding-top: 90px;
      padding-bottom: 20px;

      @media (max-width: $width-md) {
        background: none;
      }
    }
    // max-height: 200px;
    width: 421px;
  }

  &__content {
    text-align: center;
  }

  &__doctor {
    color: #345a75;
    font-weight: 700;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $ff-open;

    @include font-size(32px, 30px, 28px, 26px, 25px);

    &--title {
      color: #345a75 !important;
      font-weight: 700;

      @include font-size(28px, 26px, 24px, 22px, 21px);
    }
  }

  &__address {
    color: #000;
    font-size: 20px;
    margin-top: 20px;
    font-family: $ff-open;
    font-weight: 400;
  }

  &__map-link {
    color: #345a75;
    text-decoration: underline;
    font-size: 20px;
    // letter-spacing: 1px;
    margin-bottom: 25px;
    font-family: $ff-open;
    font-weight: 400;
  }

  &__new-patient-text {
    color: #000;
    font-size: 24px;
    margin-bottom: 0;
    line-height: 1;
    font-family: $ff-open;
    letter-spacing: -0.97px;
  }

  &__new-patient-number {
    display: block;
    font-size: 40px;
    font-weight: 900;
    color: #345a75;
    font-family: $ff-lato;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1;

    @include font-size(38px, 38px, 36px, 36px, 32px);

    &:hover {
      color: #345a75;
      text-decoration: none;
    }
  }

  &__existing-patient-text {
    color: #2f1d0f;
    margin-top: 15px;
    line-height: 1;
    margin-bottom: 45px;
    font-family: $ff-open;

    @include font-size(18px, 18px, 17px, 16px, 16px);
  }

  &__existing-patient-number {
    color: #2f1d0f;
    font-family: $ff-open;

    @include font-size(18px, 18px, 17px, 16px, 16px);

    &:hover {
      color: #2f1d0f;
      text-decoration: none;
    }
  }

  &__fax-text {
    color: #4b382c;
    margin-top: 20px;
    line-height: 1;
    margin-bottom: 5px;
    font-size: 20px;
  }

  &__fax-number {
    color: #4b382c;

    @include font-size(28px, 26px, 24px, 22px, 22px);
  }

  &__btn {
    // margin-top: 25px;
    margin-bottom: 25px;
  }

  &__welcoming-patients {
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 24px;
    letter-spacing: -0.93px;
  }

  &__social-media {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hours-table {
    padding-bottom: 35px;
    padding-top: 20px;

    h5 {
      line-height: 1;
      margin-bottom: 0;
      font-weight: 400;
      font-size: 28px;
      color: #345a75;
      font-family: $ff-open;
      padding-bottom: 10px;
    }

    p {
      color: #000;
      font-size: 20px;
      letter-spacing: 0.7px;
      line-height: 1;
      margin: 0 auto;
      font-family: $ff-open;
    }
  }
}
