<div class="associations-carousel">
    <div class="container">
        <div class="associations-carousel--wrapper">
            <div class="owl-carousel js-associations-carousel">
                <div class="logo--wrapper"><img src="/assets/association-logos/ada.png" alt="American Dental Association"></div>
                <div class="logo--wrapper"><img src="/assets/association-logos/kda.png" alt="Kentucky Dental Association"></div>
                <div class="logo--wrapper"><img src="/assets/association-logos/aacd.png" alt="American Academy of Cosmetic Dentistry"></div>
                <div class="logo--wrapper"><img src="/assets/association-logos/aadsm.png" alt="American Academy of Dental Sleep Medicine"></div>
                <div class="logo--wrapper"><img src="/assets/association-logos/docs.png" alt="Dental Organization for Conscious Sedation"></div>
                <div class="logo--wrapper"><img src="/assets/association-logos/crca.png" alt="Consumer's Research Council of America"></div>
                <div class="logo--wrapper"><img src="/assets/association-logos/dds-member.png" alt="DDS Member Mentoring.com"></div>
                <div class="logo--wrapper"><img src="/assets/association-logos/implant-direct.png" alt="Implant Direct simply smarter Sybron Dental Specialties"></div>
                <div class="logo--wrapper"><img src="/assets/association-logos/lvi.png" alt="Las Vegas Institute for Advanced Dental Studies"></div>
            </div>
        </div>
    </div>
</div>
