<div class="services-carousel">

    <div class="services-main owl-carousel js-services-carousel hidden-xs">
        <div class="services-slide">
            <img src="/assets/services/implants.jpg" alt="Implant Dentistry">
            <div class="services-slide__text services-slide__text--one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="services-slide__title">Implant Dentistry</h2>
                            <p class="services-slide__copy">Dental implants are a great option for replacing missing
                                teeth, improving chewing ability, eliminating bridges, and replacing dentures.</p>
                            <p class="services-slide__copy">Several implants may provide a base for a series of
                                artificial teeth known as a fixed bridge. Implants can even be used to secure a full set
                                of removable dentures for people who have no remaining natural teeth.</p>
                            <div class="alignleft">
                                <a href="#" data-target="#modal--implant" data-toggle="modal"
                                   class="btn services-slide__btn">Watch the Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-slide">
            <img src="/assets/services/sedation.jpg" alt="Sedation Dentistry">
            <div class="services-slide__text">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="services-slide__title">Sedation Dentistry</h2>
                            <p class="services-slide__copy">Sedation dentistry is an excellent treatment for patients
                                with extensive dental needs, or who are concerned about anxiety, difficulty getting
                                numb, or sensitive teeth.</p>
                            <div class="alignleft">
                                <a href="#" data-target="#modal--sedation" data-toggle="modal"
                                   class="btn services-slide__btn">Watch the Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-slide">
            <img src="/assets/services/cosmetic-service.jpg" alt="Smile Makeover">
            <div class="services-slide__text services-slide__text--one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="services-slide__title">Smile Makeovers</h2>
                            <p class="services-slide__copy">Cosmetic dentistry is one of the most cost-effective ways to
                                improve your appearance. A beautiful, bright, healthy smile will increase
                                self-confidence and overall life satisfaction. Cosmetic dentistry includes things like
                                tooth-colored restorations, dental implants, and crowns. We have many options, so please
                                call us today!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="services-main-mobile hidden-sm hidden-md hidden-lg">
        <div class="services-slide-mobile">
            <img src="/assets/services/implants.jpg" alt="Implant Dentistry">
            <div class="services-slide-mobile__text services-slide-mobile__text--one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="services-slide-mobile__title">Implant Dentistry</h2>
                            <p class="services-slide-mobile__copy">Dental implants are a great option for replacing
                                missing
                                teeth, improving chewing ability, eliminating bridges, and replacing dentures.</p>
                            <p class="services-slide-mobile__copy">Several implants may provide a base for a series of
                                artificial teeth known as a fixed bridge. Implants can even be used to secure a full set
                                of removable dentures for people who have no remaining natural teeth.</p>
                            <div class="alignleft">
                                <a href="#" data-target="#modal--implant" data-toggle="modal"
                                   class="btn services-slide-mobile__btn">Watch the Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-slide-mobile">
            <img src="/assets/services/sedation.jpg" alt="Sedation Dentistry">
            <div class="services-slide-mobile__text">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="services-slide-mobile__title">Sedation Dentistry</h2>
                            <p class="services-slide-mobile__copy">Sedation dentistry is an excellent treatment for
                                patients
                                with extensive dental needs, or who are concerned about anxiety, difficulty getting
                                numb, or sensitive teeth.</p>
                            <div class="alignleft">
                                <a href="#" data-target="#modal--sedation" data-toggle="modal"
                                   class="btn services-slide-mobile__btn">Watch the Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="services-slide-mobile">
            <img src="/assets/services/cosmetic-service.jpg" alt="Smile Makeover">
            <div class="services-slide-mobile__text services-slide-mobile__text--one">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-push-6">
                            <h2 class="services-slide-mobile__title">Smile Makeovers</h2>
                            <p class="services-slide-mobile__copy">Cosmetic dentistry is one of the most cost-effective
                                ways to
                                improve your appearance. A beautiful, bright, healthy smile will increase
                                self-confidence and overall life satisfaction. Cosmetic dentistry includes things like
                                tooth-colored restorations, dental implants, and crowns. We have many options, so please
                                call us today!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Service Modals-->
<div id="modal--implant" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">X</span></button>
                <h3 class="modal-title">Implant Dentistry</h3>
            </div>
            <div class="modal-body clearfix">
                <video id="movie" width="500" height="280" controls=""><source src="http://products.pbhs.com/human_touch/dental_implants_V02/HT_Implant_V2.mp4"></video>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal--sedation" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">X</span></button>
                <h3 class="modal-title">Sedation Dentistry</h3>
            </div>
            <div class="modal-body clearfix">
                <iframe id="sedation-video" width="500" height="280" src="https://www.youtube.com/embed/-d-h7JHrmMU?rel=0&amp;showinfo=0" allowfullscreen=""></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

