#section-about {
  .heading {
    background-color: #ededed;
    padding: 125px 0 85px;

    &__title {
      color: #000063;
      margin-bottom: 0;
      line-height: 1;
    }
  }

  .main {
    margin: -40px 0 0;

    &__name {
      color: #3c88b0;
      font-family: $ff-open;
      font-weight: 700;
      margin-bottom: 10px;
      padding-top: 20px;

      @include font-size(30px, 28px, 26px, 26px, 24px);

      &--title {
        color: #3c88b0;

        @include font-size(28px, 26px, 24px, 24px, 22px);
      }
    }

    &__copy {
      color: #414b4d;
    }

    @media (min-width: 768px) {
      margin: -40px 0;

      &__name {
        padding-top: 0;
      }

      .row {
        display: flex;
        align-items: center;
      }
    }
  }

  .associations-carousel {
    background-color: #ededed;
    padding: 30px 0;

    @media (min-width: 768px) {
      padding: 85px 0 30px;
    }
  }
}

#top-ten-slab {
  background-image: url(/assets/best-dentist-bg.jpg);
  background-size: cover;
  background-position: 30% top;

  @media (min-width: 768px) {
    background-position: center top;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

    @media (min-width: 768px) {
      flex-direction: row-reverse;
      padding: 70px 0;
    }

    @media (min-width: 992px) {
      padding: 90px 0;
    }

    @media (min-width: 1200px) {
      padding: 120px 0;
    }

    @media (min-width: 1440px) {
      padding: 180px 0;
    }
  }

  .copy {
    &__main {
      color: #fff;
      font-family: $ff-roboto-slab;
      margin-bottom: 15px;
      line-height: 1.5;
      font-style: 400;

      @include font-size(36px, 32px, 27px, 24px, 19px);
    }

    &__sub {
      color: #fff;
      font-size: 12px;
      line-height: 1.3;

      @media (max-width: 991px) {
        font-size: 11px;
      }
    }
  }

  .image {
    margin-bottom: 15px;

    @media (min-width: 768px) {
      margin-left: 20px;
    }
  }
}
