#section-about {
  .heading {
    background-color: #ededed;
    padding: 125px 0 85px;

    &__title {
      color: #000063;
      margin-bottom: 0;
      line-height: 1;
    }
  }

  .main {
    margin: -40px 0 0;

    &__name {
      color: #3c88b0;
      font-family: $ff-open;
      font-weight: 700;
      margin-bottom: 10px;
      padding-top: 20px;

      @include font-size(30px, 28px, 26px, 26px, 24px);

      &--title {
        color: #3c88b0;

        @include font-size(28px, 26px, 24px, 24px, 22px);
      }
    }

    &__copy {
      color: #414b4d;
    }

    @media (min-width: 768px) {
      margin: -40px 0;

      &__name {
        padding-top: 0;
      }

      .row {
        display: flex;
        align-items: center;
      }
    }
  }

  .associations-carousel {
    background-color: #ededed;
    padding: 30px 0;

    @media (min-width: 768px) {
      padding: 85px 0 30px;
    }
  }
}
