#section-team {
  position: relative;
  background-color: #495b69;

  @media (min-width: 768px) {
    > .container {
      position: relative;
    }
  }

  img {
    max-height: 600px;
  }

  .team--text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    font-family: $ff-roboto-slab;
    font-weight: 400px;
    margin-bottom: 5px;

    @media (max-width: $width-xs) {
      line-height: 1.2;
    }

    @media (min-width: 768px) {
      bottom: 15px;
    }

    @include font-size(38px, 30px, 24px, 18px, 16px);
  }
}

#section-location {
  padding-bottom: 60px;
}

.location.location__two-column {
  display: flex;
  flex-direction: column;
  align-items: center;

  .location__map,
  .location__card--wrapper {
    width: 100%;
  }

  .location__map {
    margin-top: 45px;
  }

  @media (min-width: 768px) {
    flex-direction: row;

    .location__card--wrapper {
      width: 50%;
      padding-right: 50px;
    }

    .location__map {
      margin-top: 0;
      width: 50%;
      height: 100%;
    }
  }

  @media (min-width: 1200px) {
    .location__map,
    .location__card--wrapper {
      width: 50%;
    }
  }
}
