#slider {
  height: 50vw !important;

  .swiper-slide {
    > img {
      width: 100%;
    }

    .container {
      height: 100%;
    }

    .row {
      transform: translateY(-50%);
      top: 50%;
      position: relative;
    }
  }

  .slide1 {
    display: flex;
    align-content: center;

    .slider-caption {
      max-width: 50%;
    }

    .slide__copy {
      color: #3c4e63;
      line-height: 1;
      font-family: $ff-open;

      @include font-size(29px, 24px, 20px, 20px, 18px);
    }
  }

  .slide2 {
    .slide__title {
      font-weight: 400 !important;
      color: #7f8657;
      margin-bottom: 0;
      line-height: 1;

      &::first-line {
        color: #5a79a5;
      }

      @include font-size(66px, 48px);
    }

    .stars {
      padding-top: 10px;
      padding-bottom: 15px;
      max-width: 180px;
    }

    .copy {
      line-height: 1.4;
      font-family: $ff-open;
      color: #332a46;
      margin-bottom: 10px;

      @include font-size(20px, 18px, 18px, 18px, 17px);
    }

    .slider-caption {
      max-width: 50%;
    }
  }

  .slide3 {
    .slider-caption {
      max-width: 50%;
    }

    .slide__copy {
      color: #332a46;
      line-height: 1.5;
      font-family: $ff-open;
      margin: 10px 0;

      @include font-size(18px, 15px, 20px, 20px, 18px);
    }
  }

  .slide4 {
    .slider-caption {
      max-width: 50%;
    }

    .slide__title {
      color: #7f8657;
      font-family: $ff-roboto-slab;
      line-height: 1;
      margin-bottom: 5px;
      font-weight: 700;

      @include font-size(87px, 70px);
    }

    .slide__byline {
      color: #3c88b0;
      font-weight: 400;
      margin-bottom: 10px;
      line-height: 1;

      @include font-size(43px, 34px);
    }

    .slide__copy {
      color: #4d4d4d;
      line-height: 1.5;
      font-family: $ff-open;
      margin: 15px 0;
      font-weight: 700;

      @include font-size(34px, 25px, 20px, 20px, 18px);
    }
  }
}

#mobile-background {
  display: none;

  @media (max-width: $width-md) {
    display: block;
    position: relative;
  }
}

.swiper_wrapper {
  height: auto;
}
