#section-services {
  .owl-carousel .owl-nav [class*=owl-],
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
  }

  .heading {
    background-color: #7b6353;
    text-align: center;

    &__title {
      color: #fff;
      padding-top: $spacing-md;
      margin-bottom: 5px;
      line-height: 1;
    }

    &__copy {
      color: #fff;
      margin-top: 20px;
      margin-bottom: 45px;

      a {
        color: #0491ab;
        text-decoration: underline !important;
      }
    }
  }

  .services-slide {
    position: relative;

    &__text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
    }

    &__title {
      color: #1e5879;
      font-family: $ff-roboto-slab;
      margin-bottom: 0;
      line-height: 1.2;
      font-weight: 400;
    }

    &__btn {
      margin: 20px 0 5px;
    }

    &__copy {
      color: #000;
      line-height: 1.4;
      font-size: 14px;
      margin-bottom: 0;
      margin-top: 15px;

      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
  }

  .services-slide-mobile {
    & > img {
      width: 100%;
    }

    &__text {
      padding: 15px 0 40px;
      background-color: #fff;
    }

    &__title {
      margin-bottom: 15px;
      line-height: 1.2;
      font-weight: 400;

      @include font-size(71px, 55px, 38px, 36px, 32px);
    }

    &__btn {
      margin: 15px 0 5px;
    }
  }

  .services-main-mobile {
    padding-top: 100px;
    background-color: #f3f3f3;
  }

  .services-main {
    padding-top: 50px;

    @media (min-width: 992px) {
      padding-top: 30px;
    }

    @media (min-width: 1200px) {
      padding-top: 0;
    }
  }

  .full-width-wrapper {
    position: relative;
  }

  .full-width,
  .owl-carousel {
    position: static !important;
  }

  .owl-controls.with-carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
  }

  .owl-carousel .owl-dots .owl-dot span {
    display: block;
    width: 23px;
    height: 23px;
    margin: 0 4px;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #1a465f;
  }

  .services-part-two {
    padding: 15px 0 60px;
    background-image: url(/assets/brown-pattern.svg);
    background-repeat: repeat;
    background-size: 100px;

    .heading {
      background: none;

      &__title {
        color: #36c4de;
      }
    }
  }

  .services-carousel {
    position: relative;
  }

  .services-carousel__item {
    position: relative;

    .services-carousel__title {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px 15px;

      h5 {
        color: #412e1f;
        margin-bottom: 5px;
        line-height: 1;

        @include font-size(24px, 22px, 22px, 22px, 21px);
      }

      h6 {
        color: #07b7d7;
        line-height: 1;
        margin-bottom: 0;
        text-decoration: underline !important;
      }
    }
  }
}
