#section-services {
  .owl-carousel .owl-nav [class*=owl-],
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
  }

  .heading {
    text-align: center;

    &__title {
      color: #fff;
      margin-bottom: 5px;
      line-height: 1;
    }

    &__copy {
      color: #fff;
      margin-top: 20px;
      margin-bottom: 45px;

      a {
        color: #0491ab;
        text-decoration: underline !important;
      }
    }
  }

  .services-slide {
    position: relative;

    &__text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
    }

    &__title {
      color: #1e5879;
      font-family: $ff-roboto-slab;
      margin-bottom: 0;
      line-height: 1.2;
      font-weight: 400;
    }

    &__btn {
      margin: 20px 0 5px;
    }

    &__copy {
      color: #000;
      line-height: 1.4;
      font-size: 14px;
      margin-bottom: 0;
      margin-top: 15px;

      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
  }

  .services-slide-mobile {
    & > img {
      width: 100%;
    }

    &__text {
      padding: 15px 0 40px;
      background-color: #fff;
    }

    &__title {
      color: #1e5879;
      margin-bottom: 15px;
      line-height: 1.2;
      font-weight: 400;

      @include font-size(71px, 55px, 38px, 36px, 32px);
    }

    &__btn {
      margin: 15px 0 5px;
    }
  }

  .services-main-mobile {
    padding-top: 100px;
    background-color: #f3f3f3;
  }

  .full-width-wrapper {
    position: relative;
  }

  .full-width,
  .owl-carousel {
    position: static !important;
  }

  .owl-controls.with-carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
  }

  .owl-carousel .owl-dots .owl-dot span {
    display: block;
    width: 23px;
    height: 23px;
    margin: 0 4px;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid #fff;
    background-color: #fff;
    transition: all 0.3s ease;
  }

  .owl-carousel .owl-dots .owl-dot.active span {
    background-color: #1a465f;
  }

  .services-carousel {
    position: relative;
  }

  .services-carousel__item {
    position: relative;

    .services-carousel__title {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 10px 15px;

      h5 {
        color: #412e1f;
        margin-bottom: 5px;
        line-height: 1;

        @include font-size(24px, 22px, 22px, 22px, 21px);
      }

      h6 {
        color: #07b7d7;
        line-height: 1;
        margin-bottom: 0;
        text-decoration: underline !important;
      }
    }
  }

  .services-part-two {
    padding: 15px 0 30px;

    .heading {
      background-color: #fff;

      &__title {
        margin-bottom: 5px;
        line-height: 1;
        color: #1e5879;
      }

      &__copy {
        color: #428cb3;
        font-family: $ff-open;
        font-weight: 700;
      }
    }
  }

  .service-card {
    text-align: center;
    position: relative;
    padding-bottom: 15px;

    &--small {
      @media (min-width: 768px) {
        padding: 0 0 15px 10px;
      }
    }

    &__title {
      font-family: $ff-open;
      color: #1d5575;
      font-weight: 700;
      margin: 5px 0;
      padding: 0 8px;

      @include font-size(24px, 20px, 15px, 20px, 17px);
    }

    &__learn-more {
      margin-bottom: 0;
      padding-bottom: 10px;
      font-weight: 600;
      font-style: italic;
      font-family: $ff-open;
      color: #f06223;
      text-decoration: underline !important;
      font-size: 14px;
    }

    &--family {
      position: absolute;
      bottom: 15px;
      right: 0;
      text-align: right;
      padding: 5px 15px 15px 30px;
      background-color: #0a2f5b;

      .service-card__title {
        color: #fff;
        padding: 0;
      }
    }
  }

  .services-grid {
    @media (min-width: 768px) {
      &__flex--one {
        display: flex;
      }

      &__flex--two {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
