#section-gallery {
  background-image: url(/assets/smileGalleryBG.png);
  background-repeat: repeat;
  padding: 45px 0 30px;

  .heading {
    &__title {
      margin-bottom: 10px;
      line-height: 1;
      color: #fff;
    }

    &__copy {
      color: #fff;
    }
  }

  .full-width-wrapper {
    padding: 15px 0 20px;
    position: relative;

    .container {
      position: static;
    }

    .owl-carousel {
      position: static;
    }
  }
}
